*.md
.DS_Store
.eslintcache
.eslintrc
.github
.meteor
.npm
.versions
cover.jpg
cover.png
node_modules
npm-debug.log*
package.js
test/
test/*

fps-meter.js
fps-meter.html
fps-meter-drop-in.js
fps-meter-drop-in.min.js

